<div class="main-content"
     fxLayout="column"
     fxLayoutAlign="center center">
  <div>
    Hey! This app is brought to you by Raquel Leira!
  </div>
  <mat-tab-group fxFill
                 class="tab-group">
    <mat-tab label="Who's Raquel">
      <p>Raquel Leira was born in Porto Alegre - RS. Raised in Curitiba - PR. And now she is living in Blumenau!</p>
      <p>
        She's been working with software development for the last 13 years.
        She has a solid knowledge in several areas, such as architecture, analysis and of course, coding.
      </p>
    </mat-tab>
    <mat-tab label="Why Use RBMS?!">
      <p>
        This app lists Raquel's favorite movies and TV shows. That's pretty cool, right?
        If you are looking for a cool list, you should totally check that out!
      </p>
      <p>
        And the cool part is that you can create your own favorite lists, based on Raquel's list. Isn't that great?
        But just a FYI... We're storing your favorites in the local storage. Which means that if you
        clean your cache or your browser data, you'll lose everything! Oh no, right?
        Maybe in a next release we can find a nice way to persist your list...!
      </p>
    </mat-tab>
    <mat-tab label="Challenges and Stuff">
      <p>My main challenges here were...</p>
      <ul>
        <li>Build the app in React in the given deadline. Therefore, I asked to go with Angular... If I had a couple more days, I could definitely create something</li>
        <li>Believe me or not, to actually pick 15 favorite movies and 15 favorite series was a challenge</li>
        <li>You certainly realized that the MOVIE page is missing. I could not find in the API all the info needed
          for that view (such as cast, cast images, etc.). Therefore, since my deadline was close, I decided to go with the official
          movie/series page. But hey! Maybe in a next version of this app I can create the movie/series page.
        </li>
      </ul>
      <p>If I could improve something...</p>
      <ul>
        <li>Definitely would create a better layout, with cooler styles. I decided to go with angular material and flex layout
          because it provides a decent layout with minimum css code.
        </li>
        <li>
          I would create a less complex structure for the services and views. For such a small application it wasn't
          exactly necessary to have a separated router outlet in the sidenav, for example. But I'm used to create things
          for scaling...
          In anyways, if I had spent less time in the architecture, I would have more time for the layout and the movie page, for example.
        </li>
      </ul>
    </mat-tab>
  </mat-tab-group>
</div>