<div class="sidenav-content"
     fxLayout="column"
     fxLayoutAlign="start center"
     *ngIf="item">
  <h1 id="itemTitle">{{item.title || item.name}}</h1>
  <p id="itemOverview">{{item.overview}}</p>
  <p *ngIf="item.runtime"
     id="itemRuntime">Duration: {{item.runtime}} mins</p>
  <a *ngIf="item.homepage"
     id="itemHomepage"
     href="{{item.homepage}}" target="_blank">View official homepage</a>
  <p id="itemVote">Vote Average: {{item.vote_average}}</p>
  <button mat-flat-button 
          fxFill
          (click)="addToFavorites(item)"
          id="addFavorite"
          *ngIf="includeFavorite">Add to my favorites list</button>
  <button mat-flat-button 
          fxFill
          (click)="removeFavorite(item)"
          id="removeFavorite"
          *ngIf="!includeFavorite">Remove from my favorites list</button>
  <button mat-flat-button 
          color="primary"
          fxFill
          id="closePanel"
          (click)="closePanel()">Close</button>
</div>

