<table mat-table
        *ngIf="dataSource"
        [dataSource]="dataSource" 
        matSort 
        class="mat-elevation-z8">
  <ng-container matColumnDef="title"
                *ngIf="listType === 'movies'">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell 
        *matCellDef="let movie"
        fxLayout="column"
        fxLayoutAlign="start start">
      <span>{{movie.title}}</span>
      <div class="item-actions"
            fxLayout="row"
            fxLayoutAlign="start start">
        <button mat-button 
                color="primary"
                (click)="openMovieDetails(movie)">View Details</button>
        <button mat-button 
                color="primary"
                *ngIf="!checkFavorite(movie)"
                (click)="addToFavorites(movie)"><mat-icon aria-label="Add to favorites">favorite</mat-icon> Add to my Favorites</button>
        <button mat-button 
                color="primary"
                *ngIf="checkFavorite(movie)"
                (click)="removeFavorite(movie)"><mat-icon aria-label="Remove">close</mat-icon> Remove From my Favorites</button>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="name"
                *ngIf="listType === 'series'">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let serie"
        fxLayout="column"
        fxLayoutAlign="start start">
      <span>{{serie.name}} </span>
      <div class="item-actions"
            fxLayout="row"
            fxLayoutAlign="start start">
        <button mat-button 
                color="primary"
                (click)="openMovieDetails(serie)">View Details</button>
        <button mat-button
                color="primary"
                *ngIf="!checkFavorite(serie)"
                (click)="addToFavorites(serie)"><mat-icon aria-label="Add to favorites">favorite</mat-icon> Add to my Favorites</button>
        <button mat-button
                color="primary"
                *ngIf="checkFavorite(serie)"
                (click)="removeFavorite(serie)"><mat-icon aria-label="Remove">close</mat-icon> Remove From my Favorites</button>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="vote_average">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vote Average </th>
    <td mat-cell *matCellDef="let movie"> {{movie.vote_average}} </td>
  </ng-container>
  <ng-container matColumnDef="release_date" *ngIf="listType === 'movies'">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Release Date </th>
    <td mat-cell *matCellDef="let movie"> {{movie.release_date}} </td>
  </ng-container>
  <ng-container matColumnDef="first_air_date" *ngIf="listType === 'series'">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Air Date </th>
    <td mat-cell *matCellDef="let serie"> {{serie.first_air_date}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="listColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: listColumns;"></tr>
</table>